@font-face {
  font-family: 'Animal';
  src: url('assets/fonts/animal/Animal-Bold.ttf')
    format('truetype');
}

body {
  padding: 0;
  margin: 0;
  background: #ead1a3;
}

header {
  width: 100%;
  position: absolute;
  top: 1em;
}

h1{
  margin: 0;
  padding: 0;
  font-family: 'Animal';
  font-weight: bolder;
  font-size: 3em;
  text-align: center;
  color: #636c38;
  text-shadow:
    2px 2px #dda15e,
    4px 4px #bc6c25;
}

h1 span {
  color: #cb3028;
}

#container {
  width: 400px;
  height: 400px;
  box-shadow:
    0 0 0 12px #bc6c25,
    0 0 0 24px #dda15e;
  position: absolute;
  top: calc(50% + 2em - 200px);
  left: calc(50% - 200px);
}